packages: [
  "activate-power-mode"
  "advanced-open-file"
  "atom-beautify"
  "atom-live-server"
  "atom-runner"
  "autocomplete-go"
  "browser-plus"
  "builder-go"
  "clipboard-plus"
  "filesize"
  "git-clone"
  "git-plus"
  "git-time-machine"
  "go-config"
  "go-debug"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "highlight-line"
  "highlight-selected"
  "jumpy"
  "language-ini"
  "linter"
  "make-runner"
  "merge-conflicts"
  "navigator-godef"
  "package-sync"
  "rest-client"
  "set-syntax"
  "seti-icons"
  "sync-settings"
  "tester-go"
  "vim-mode"
]
